<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Bem-vindo à <%= title %>!</h1>
    <p>Página gerada com EJS.</p>
    <p>Esta página foi acessada <%= contador %> vezes.</p>
    <a href="/sobre">Ir para página sobre</a>

</body>
</html>