<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Bem-vindo à <%= title %>!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum sapiente illo ipsam distinctio modi. Possimus architecto praesentium explicabo iure nulla accusamus quibusdam molestias reiciendis. Hic quia aliquam porro placeat. Nulla?</p>
    <a href="/">Voltar para a página inicial.</a>
</body>
</html>